<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cmput301f18t26.icare">

    <!-- We must include these so that our app can make network requests via Jest and use Geolocation -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.PatientViewProblemListActivity" />
        <activity android:name=".Activities.AddEditProblemActivity" />
        <activity android:name=".Activities.PatientViewProblemActivity" />
        <activity
            android:name=".Activities.AddEditRecordActivity"
            android:label="@string/title_activity_add_edit_record" />
        <activity android:name=".Activities.ViewProfileActivity" />
        <activity android:name=".Activities.EditProfileActivity" />
        <activity android:name=".Activities.ViewPatientsActivity" />
        <activity android:name=".Activities.ViewPatientProblemsActivity" />
        <activity android:name=".Activities.SearchAddPatientsActivity" />
        <activity android:name=".Activities.CareProviderViewPatientProblemActivity" />
        <activity android:name=".Activities.CareProviderAddCommentActivity" />
        <activity android:name=".Activities.ViewRecordActivity"></activity>
        <activity android:name=".Activities.SearchRecordsProblemsActivity"></activity>
        <activity android:name=".Activities.ViewSearchResultsActivity" />
    </application>

</manifest>